---
import Container from "../shared/Container.astro";
import Hero from "../shared/Hero.astro";
/* import Hero from "../shared/Hero.astro"; */
---

<section id="home" class="bg-gray-100">
  <Container>
     <Hero title="Fidel Ernesto" subtitle="Web Developer" />
  </Container>
</section>
