---
import { Projects } from "../projects/Projects";
import Container from "../shared/Container.astro";
---

<section
  id="portfolio"
  class="min-h-screen flex items-center justify-center bg-gray-100"
>
  <Container>
    <h2 class="text-4xl font-bold mb-8 text-center">Projects</h2>
    <Projects client:load />
  </Container>
</section>
