---
import Container from "../shared/Container.astro";
import Tags from "../shared/Tags";
---

<section id="skills">
  <div class="text-center sm:text-left max-w-md mx-auto mb-20">
    <h2 class="text-heading-1 font-semibold text-5xl sm:text-[64px]">
      Skills
    </h2>
  </div>
  <Tags client:load />
</section>
