---

---

<div class="container">
  <div class="space-y-4"></div>
  <span class="circle"></span>
  <h2>Circle with text outside using shape property</h2>
  <p>
    CSS Shapes allow us to define geometric shapes that text can flow around.
    These shapes can be circles, ellipses, simple or complex polygons, and even
    images and gradients. A few practical design applications of Shapes might be
    displaying circular text around a circular avatar, displaying text over the
    simple part of a full-width background image, and displaying text flowing
    around drop caps in an article.
  </p>
</div>

<style>
  .circle {
    float: left;
    shape-outside: circle(50%);
  }
</style>
